/*body {
    display: flex;
    justify-content: center;
    background-color: brown;
    justify-content: space-between;
}

p {
    background-color: chocolate;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 50px;
    margin: 10px;
}*/